/* src/styles/global.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    font-family: Lora;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 2rem;
  }
  