/* src/styles/ScrollMountain.css */
.scroll-container {
  width: 100%;
  height: 140vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: "Lora", serif;
  padding-bottom: 100px;
}

.scroll-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  position: relative;
  z-index: 10;
  opacity: 0.7;
}

.scroll-background {
  position: relative;
}

.scroll-foreground {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: bottom;
  z-index: 20;
}

.home-container {
  padding: 20px;
}

.home-content {
  text-align: center;
}

.video-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  position: relative; /* Add this line */
}

.video-item {
  width: 48%;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .video-item {
    width: 24%;
  }
}
